body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.section1{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background-color: #823329;
    border-radius: 20px;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    padding: 5px 90px;
    background-color: white;
    gap: 100px;
    
}
.navbar-brand{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    width: fit-content;
    height: fit-content;

}
.navbar-brand img{
    height: 60px;
    width: 120px;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: #998880;
    flex-shrink: 0;
}

.content1{
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 12px;
}
.c1-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: baseline;
}
.c1-subtitle{
    color: white;
    font-size: x-large;
}
.c1-slogan{
    color: white;
    font-size: small;
}

/* CSS for the button using the google Styling */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 35px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}
.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}
.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}
.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}
.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.c1-text p{
    color: white;
    font-size: x-small;
}
.c1-image img{
    width: 300px;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}
.s2-header strong h2{
    font-weight: bold;
}

.content2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 40px;
    gap: 20px;
}
.c2card-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c2card{
    border: #823329;
    border-color: #823329;
    border-style: solid;
    border-radius: 25%;
    width: 100px;
    height: 100px;
}

.section3{
    background-color: #998880;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    gap: 10px;
    padding: 40px 150px;
}
.quoted{
    align-self: flex-end;
}
.section4{
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px 1px;
}
.c4-card{
    display: flex;
    align-self: stretch;
    margin: 0% 15%;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border-radius: 12px;
    background-color: #823329;
}
.c4-text{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items:  baseline;
    color: white;
}
.c4-button{
    
}

.footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}